//controllers/shop.ejs
exports.getOrders = (req,res,next) => {
  res.render('shop/orders', {
    path: '/orders',
    pageTitle: 'Your Orders'
  });
};

//routes/shop.js
router.get('/orders', shopController.getOrders);

//views/admin/products.ejs
      <%- include('../includes/head.ejs') %>
      </head>
      <body>
      <%- include('../includes/navigation.ejs') %>
      <%- include('../includes/end.ejs') %>
      
      //add edit and delete button because we need to have id we will work on that later
      <a href="/admin/edit-product/id=1">edit</a>
      <form action="admin/delete-product" method="POST">
      <button class="btn" type="submit">Delete</button>
      </form>
      
  //views/shop/product-list.ejs
     <form action="/add-to-cart/id" method="POST">
       <button class="btn">Add to Cart</button>
     </form>
     
    //add this
    //in the navigation also add /orders
   //views/shop/order.ejs
      
